{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-runtime", "annotate-pure-calls"],
  "env": {
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ],
      "ignore": ["**/*.test.js"]
    },
    "cjs": {
      "ignore": ["**/*.test.js"]
    }
  }
}
